<div id="todo-container-<%=task.dom_id%>" class="todo-container"<% unless @current_sheet && @current_sheet.task_id == task.id && task.todos.size > 0 %> style="display:none;"<% end %>>
 	<ul id="todo-<%=task.dom_id%>" class="task-todo">
		<% task.todos.select{ |t| t.completed_at.nil? }.each do |@todo| %>
	  	<%= render :partial => "tasks/todo_row" %>
		<% end %>
  	</ul>
	
	<form action="/tasks/create_todo_ajax/<%=task.id%>?depth=<%=depth%>" id="todo-form-<%=task.dom_id%>" method="post" onsubmit="new Ajax.Request('/tasks/create_todo_ajax/<%=task.id%>?depth=<%=depth%>', {asynchronous:true, evalScripts:true, onComplete:function(request){Element.hide('loading');}, onLoading:function(request){Element.show('loading');}, parameters:Form.serialize(this)}); return false;" style="display:none; padding-top: 1.0em;">
		<input type="text" id="todo_text_<%=task.id%>" name="todo[name]" placeholder="What do you need done?">
		<%= _('or') %> <a href="#" onclick="Element.hide('todo-form-<%=task.dom_id%>');$('new-todo-<%=task.dom_id%>').show(); return false;"><%=_('Cancel')%></a>
	</form>

	<div id="new-todo-<%=task.dom_id%>" style="padding: 10px 0 10px;">
		<a href="#" onclick="$('todo-form-<%=task.dom_id%>').show();$('new-todo-<%=task.dom_id%>').hide();$('todo_text_<%=task.id%>').focus();; return false;" style="text-decoration: none;



    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05em;
    vertical-align: middle;
    display: inline-block;
    padding: .25em .4em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #47acdf;





		"><i class="icon-plus-sign"></i> <%=_'Add item'%></a>
	</div>

	<ul id="todo-done-<%=task.dom_id%>" class="task-todo">
		<% task.todos.select{ |t| t.completed_at }.each do |@todo| %>
		<%= render :partial => "tasks/todo_row" %>
		<% end %>
	</ul>
</div>
