<div class="presence-popup">
<!--<div style="background-color: #eee; border-bottom:1px solid #ccc; font-size:14px; padding: 3px;"><%= _'Users Online'%> (<%= online_users %>)</div>-->
<div class="presence-chat-area">
<% all_users.each do |u| %>
    <div class="presence-user-row">
      <div style="float:left;padding-right:8px;">
       <a href="#" <%= "class=\"presence-user-row-idle\"" if u.idle?%> <%= "class=\"presence-user-row-offline\"" if u.offline?%>  onclick="new Ajax.Request('/shout/chat_add/<%=u.id%>', {asynchronous:true, evalScripts:true}); return false;" ><%= "<img src=\"#{u.avatar_url(100)}\" class=\"photo\" height\"100\" width=\"75\" />" %></a>
      </div>
      <div class="presence-user-row">
    <% if u.id != current_user.id %>
      <a href="#" <%= "class=\"presence-user-row-idle\"" if u.idle?%> <%= "class=\"presence-user-row-offline\"" if u.offline?%>  onclick="new Ajax.Request('/shout/chat_add/<%=u.id%>', {asynchronous:true, evalScripts:true}); return false;" ><%= h u.name %><%= " (#{_'idle'})" if u.idle? %></a><%= "<br />#{_'Offline'}" if u.offline? %>
      <% if u.idle? || u.online? %>
      <br/><span><%= _('Active %s ago', (u.idle? ? time_ago_in_words(u.last_seen_at) : time_ago_in_words(u.last_ping_at) ) ) %>
      <% end %>
    <% else %>
      <%= h u.name %>
    <% end %>
      </div>
    </div>  
    <div style="clear:both;"></div>
<% end %>
</div>
</div>
